## **Hands-on Activity 8.1: Aggregating Data with Pandas**

**8.1.1 Intended Learning Outcomes**
- After this activity, the student should be able to: <br>
- Demonstrate querying and merging of dataframes <br>
- Perform advanced calculations on dataframes <br>
- Aggregate dataframes with pandas and numpy <br>
- Work with time series data

**8.1.2 Resources** <br>
- Computing Environment using Python 3.x <br>
- Attached Datasets (under Instructional Materials) <br>

**8.1.3 Procedures** <br>
- The procedures can be found in the canvas module. Check the following under topics: <br>
- 8.1 Weather Data Collection <br>
- 8.2 Querying and Merging <br>
- 8.3 Dataframe Operations <br>
- 8.4 Aggregations <br>
- 8.5 Time Series <br>

**8.1.5 Supplementary Activity** <br>

Using the CSV files provided and what we have learned so far in this module complete the following exercises:

1. With the earthquakes.csv file, select all the earthquakes in Japan with a magType of mb and a magnitude of 4.9 or greater.

In [31]:
import pandas as pd
import numpy as np

df = pd.read_csv('Documents/Python/earthquakes.csv')
df

,mag,magType,time,place,tsunami,parsed_place
0,1.35,ml,1539475168010,"9km NE of Aguanga, CA",0,California
1,1.29,ml,1539475129610,"9km NE of Aguanga, CA",0,California
2,3.42,ml,1539475062610,"8km NE of Aguanga, CA",0,California
3,0.44,ml,1539474978070,"9km NE of Aguanga, CA",0,California
4,2.16,md,1539474716050,"10km NW of Avenal, CA",0,California
...,...,...,...,...,...,...
9327,0.62,md,1537230228060,"9km ENE of Mammoth Lakes, CA",0,California
9328,1.00,ml,1537230135130,"3km W of Julian, CA",0,California
9329,2.40,md,1537229908180,"35km NNE of Hatillo, Puerto Rico",0,Puerto Rico
9330,1.10,ml,1537229545350,"9km NE of Aguanga, CA",0,California
9331,0.66,ml,1537228864470,"9km NE of Aguanga, CA",0,California

In [8]:
japan_df = df[(df['parsed_place'] == 'Japan') & (df['magType'] == 'mb') & (df['mag'] >= 4.9)]
japan_df

,mag,magType,time,place,tsunami,parsed_place
1563,4.9,mb,1538977532250,"293km ESE of Iwo Jima, Japan",0,Japan
2576,5.4,mb,1538697528010,"37km E of Tomakomai, Japan",0,Japan
3072,4.9,mb,1538579732490,"15km ENE of Hasaki, Japan",0,Japan
3632,4.9,mb,1538450871260,"53km ESE of Hitachi, Japan",0,Japan

2. Create bins for each full number of magnitude (for example, the first bin is 0-1, the second is 1-2, and so on) with a magType of ml and count how many are in each bin.

In [18]:
df_ml = df[df['magType'] == 'ml'].copy()

bins = range(0, int(df_ml['mag'].max()) + 1)

df_ml.loc[:,'Magnitude_bin'] = pd.cut(df_ml['mag'], bins=bins, right=False)

bin_counts = df_ml['Magnitude_bin'].value_counts().sort_index()

bin_counts

Magnitude_bin
[0, 1)    2072
[1, 2)    3126
[2, 3)     985
[3, 4)     153
[4, 5)       6
Name: count, dtype: int64

3. Using the faang.csv file, group by the ticker and resample to monthly frequency. Make the following aggregations:
- Mean of the opening price
- Maximum of the high price
- Minimum of the low price
- Mean of the closing price
- Sum of the volume traded

In [20]:
faang = pd.read_csv('Documents/Python/faang.csv')
faang

     ticker        date     open     high        low    close    volume
0        FB  2018-01-02   177.68   181.58   177.5500   181.42  18151903
1        FB  2018-01-03   181.88   184.78   181.3300   184.67  16886563
2        FB  2018-01-04   184.90   186.21   184.0996   184.33  13880896
3        FB  2018-01-05   185.59   186.90   184.9300   186.85  13574535
4        FB  2018-01-08   187.20   188.90   186.3300   188.28  17994726
...     ...         ...      ...      ...        ...      ...       ...
1250   GOOG  2018-12-24   973.90  1003.54   970.1100   976.22   1590328
1251   GOOG  2018-12-26   989.01  1040.00   983.0000  1039.46   2373270
1252   GOOG  2018-12-27  1017.15  1043.89   997.0000  1043.88   2109777
1253   GOOG  2018-12-28  1049.62  1055.56  1033.1000  1037.08   1413772
1254   GOOG  2018-12-31  1050.96  1052.70  1023.5900  1035.61   1493722

[1255 rows x 7 columns]

In [38]:
faang['date'] = pd.to_datetime(faang['date'])

In [ ]:
faang.set_index('date', inplace=True)

In [36]:
faang.agg({
    'open' : np.mean,
    'high' : np.max,
    'low' : np.min,
    'close' : np.mean,
    'volume' : np.sum
})

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7368\2612038604.py:1: FutureWarning: The provided callable <function mean at 0x000001CB905DA5C0> is currently using Series.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  faang.agg({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7368\2612038604.py:1: FutureWarning: The provided callable <function max at 0x000001CB905D9BC0> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  faang.agg({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7368\2612038604.py:1: FutureWarning: The provided callable <function min at 0x000001CB905D9D00> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  faang.agg({
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7368\2612038604.py:1: FutureWarning: The provided callable <function sum at 0x000001CB905D94E0> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  faang.agg({

open      6.871481e+02
high      2.050500e+03
low       1.230200e+02
close     6.865478e+02
volume    2.022356e+10
dtype: float64

In [41]:
result = faang.groupby('Ticker').agg({
    'open' : 'mean',
    'high' : 'max',
    'low' : 'min',
    'close' : 'mean',
    'volume' : 'sum'
    
})

KeyError: 'Ticker'

In [40]:
result

NameError: name 'result' is not defined